$brand-primary:         darken(#0088ff, 6.5%) !default; // #337ab7
$brand-success:         #fa3458 !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #ff4a08 !default;

.body {
  background: #0088ff;
}
